################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

packages/*
.vs/*

## Build results
debug/
debugPublic/
release/
releases/
x64/
build/
bld/
bin/
obj/